<div class="card-deck-wrapper">
  <div class="card-deck">
    <div class="card">
      <div class="card-block" style="text-align: center;">
        <h1>No Rotation</h1>
        <%= link_to image_tag(@case.diagram, class: 'card-img-top angle_unrotated'), case_path(@case) %>
      </div>
      <div class="card-block">
        <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#new_algorithm">New Algorithm</button>
      </div>
    </div>
    <% if @case.order_of_rotational_symmetry >= 2 %>
      <div class="card">
        <div class="card-block" style="text-align: center;">
          <h1>90&deg;</h1>
          <%= link_to image_tag(@case.diagram, class: 'card-img-top angle_90_degrees'), case_path(@case) %>
        </div>
        <div class="card-block">
          <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#new_algorithm">New Algorithm</button>
        </div>
      </div>
    <% end %>
    <% if @case.order_of_rotational_symmetry == 4 %>
      <div class="card">
        <div class="card-block" style="text-align: center;">
          <h1>180&deg;</h1>
          <%= link_to image_tag(@case.diagram, class: 'card-img-top angle_180_degrees'), case_path(@case) %>
        </div>
      </div>
    <% end %>
    <% if @case.order_of_rotational_symmetry == 4 %>
      <div class="card">
        <div class="center-block" style="text-align: center;">
          <h1>270&deg;</h1>
          <%= link_to image_tag(@case.diagram, class: 'card-img-top angle_270_degrees'), case_path(@case) %>
        </div>
      </div>
    <% end %>
  </div>
</div>
<div class="card card-block">
  <%= link_to 'Edit', edit_case_path, class: 'btn btn-primary' %>
</div>
<%= render :partial => 'layouts/new_algorithm_modal' %>