<div class="card">
  <div class ="card-block" style="text-align: center;">
    <h1 class="display-1 card-title">Cube Algs</h1>
  </div>

  <div class="card-block">
    <div class="card-deck-wrapper">
      <div class="card-deck">

        <!-- F2L -->
        <div class="card">
          <div class="card-block" style="text-align: center;">
            <h4 class="card-title"><%= link_to 'F2L', cases_f2l_path %></h4>
            <%= link_to image_tag('f2l.png', width: 200, class: 'card-image'), cases_f2l_path %>
          </div>
          <div class="card-block">
            <p class="card-text">Algorithms for solving the first 2 layers of the Cube</p>
          </div>
        </div>
        <div class="card">
          <div class="card-block" style="text-align: center;">
            <h4 class="card-title"><%= link_to 'OLL', cases_oll_path %></h4>
            <%= link_to image_tag('oll.png', width: 200, class: 'card-image'), cases_oll_path %>
          </div>
          <div class="card-block">
            <p class="card-text">Algorithms for Orienting the last layer of the Cube</p>
          </div>
        </div>
        <div class="card">
          <div class="card-block" style="text-align: center;">
            <h4 class="card-title"><%= link_to 'PLL', cases_pll_path %></h4>
            <%= link_to image_tag('pll.jpg', width: 200, class: 'card-image'), cases_pll_path %>
          </div>
          <div class="card-block">
            <p class="card-text">Algorithms for solving the cube after the OLL step is completed</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <p>Cube Algs is a place to share and learn new algorithms for solving the Rubiks Cube using the Fridirch method.</p>
    <p>My intention is not to provide a guide to solving the Rubiks cube, but instead for those who already know how to solve the rubiks cube to be able to learn a few new tricks.</p>
  </div>
</div>