<% content_for :search do %>
  <%= form_tag algorithms_path, class: 'navbar-form', method: :get do %>
    <div class="input-group">
      <%= text_field_tag :filter, @filter, name: 'Search', class: 'form-control', placeholder: 'Search for. . . ' %>
      <span class="input-group-btn">
        <%= submit_tag "Go", class: 'btn btn-primary' %>
      </span>
    </div>
  <% end %>
<% end %>

<%= render partial: 'behaviour/new_algorithm_modal' %>
<div class="card">
  <div class="card-body">
    <h2 class="card-title">
      Explore
    </h2>
  </div>
  <div class="card-body">
    <%= render partial: 'glube/glube', locals: { alg: @algorithm } %>
    <span class="card-text">
    </span>
  </div>
  <div class="card-body">
    <h3 class="card-title"></h2>
    <%= render partial: 'algorithms_table', locals: { algorithms: Algorithm.all } %>
    </div>
  </div>
  <div class="card-footer">
  </div>
</div>
