<%= render partial: 'behaviour/new_algorithm_modal' %>
<div class="card">
  <div class="card-body">
    <div class="container">
      <div class="row">
        <div class="col-md-2">
          <span>Case image might go here</span>
        </div>
        <div class="col-md-8">
          <%= render partial: 'glube/glube', locals: { alg: @algorithm } %>
        </div>
        <div class="col-md-2">
          <span>inverse would go here, for example</span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="centered col-md-12">
        <p><%= @algorithm.description %></p>
        <span class="algorithm-text"><%= @algorithm.algorithm %></span>
      </div>
    </div>
  </div>
  <div class="card-body">
    <h3 class="card-title">Other solutions</h2>
    <%= render partial: 'algorithms_table', locals: { algorithms: @algorithm.similar_algorithms } %>
  </div>
  <div class="card-body">
    <h3 class="card-title">Similar algorithms</h2>
    <%= render partial: 'algorithms_table', locals: { algorithms: @algorithm.similar_algorithms } %>
  </div>
  <div class="card-footer">
    <%= render partial: 'admin' %>
  </div>
</div>
