<%= render partial: 'behaviour/new_algorithm_modal' %>
<div class="card">
  <div class="card-body">
    <h2 class="card-title">
      <%= link_to label_for_algorithm(@algorithm), case_path(@algorithm.case) %>
    </h2>
    <p class="card-text"><%= @algorithm.description %></p>
  </div>
  <div class="card-body">
    <%= render partial: 'glube/glube', locals: { alg: @algorithm } %>
    <span class="card-text">
    </span>
  </div>
  <div class="card-body">
    <h3 class="card-title">Similar algorithms</h2>
    <%= render partial: 'algorithms_table', locals: { algorithms: @algorithm.similar_algorithms } %>
    </div>
  </div>
  <div class="card-footer">
    <%= render partial: 'admin' %>
  </div>
</div>
