<%= form_for @wizard, html: { multipart: true }  do |f| %>
  <% if @wizard.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@wizard.errors.count, "error") %> prohibited this wizard from being saved:</h2>

      <ul>
      <% @wizard.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <fieldset class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
  </fieldset>
  <fieldset class="form-group">
    <%= f.file_field :wazatar, class: 'file-control' %>
  </fieldset>
  <%= f.submit "Save", class: 'btn btn-success' %>
  <%= link_to "Cancel", wizards_path, class: 'btn btn-default' %>
<% end %>