<!-- Table -->
<table class="table">
  <thead>
    <tr><th>Wazatar</th><th>Name</th><th>Actions</th></tr>
  </thead>
  <tbody>
    <%= content_tag_for(:tr, @wizards) do |wizard| %>
      <td><%= image_tag wizard.wazatar.url(:thumb) %></td>
      <td><%= link_to wizard.name, wizard_path(wizard) %></td>
      <td>
        <%= link_to 'Edit', edit_wizard_path(wizard) %> |
        <%= link_to 'Delete', wizard, method: :delete,
            data: { confirm: "Are you sure you want to delete #{wizard.name}?" } %>
      </td>
    <% end %>
  </tbody>
</table>