<div class="panel panel-default">
  <div class="panel-heading"><h1>Wizadex</h1></div>
  <div class="panel-body">
  <%= form_tag wizards_path, class: 'form-inline', method: :get do %>
    <div class="form-group">
      <%= label_tag :search, 'Search' %>
      <%= text_field_tag :search, @search, class: 'form-control' %>
      <%= submit_tag "Go", class: 'btn btn-primary' %>
    </div>
  <% end %>
  <%= link_to 'New Wizard', new_wizard_path, class: 'btn btn-primary' %>
  </div>
  <!-- Table -->
  <table class="table">
    <thead>
      <tr><th>Wazatar</th><th>Name</th><th>Actions</th></tr>
    </thead>
    <tbody>
      <%= content_tag_for(:tr, @wizards) do |wizard| %>
        <td><%= image_tag wizard.wazatar.url(:thumb) %></td>
        <td><%= link_to wizard.name, wizard_path(wizard) %></td>
        <td>
          <%= link_to 'Edit', edit_wizard_path(wizard) %> |
          <%= link_to 'Delete', wizard, method: :delete,
              data: { confirm: "Are you sure you want to delete #{wizard.name}?" } %>
        </td>
      <% end %>
    </tbody>
  </table>

  <div class="panel-footer">
    <p>Number of wizards: <%= @wizards.count %></p>
  </div>
</div>
