<div class="card">
  <%= image_tag @wizard.wazatar.url %>
  <div class="card-block">
    <h4 class="card-title"><%= @wizard.name %></h4>
    <p class="card-text">Generic Wizard Description</p>

    <div class="btn-group" role="group" aria-label="Actions">
      <%= link_to "Edit", edit_wizard_path, class: 'btn btn-primary' %>
      <%= link_to "Delete", @wizard,
        method: :delete,
        data: { confirm: "Are you sure you want to delete #{@wizard.name}?" },
        class: 'btn btn-warning' %>
      <%= link_to "Back", wizards_path, class: 'btn btn-default' %>
    </div>
  </div>
</div>