<%= render partial: 'glube/shaders' %>
<div class="glube">
  <canvas data-alg="<%= solution.algorithm %>" data-type="solver" data-stickers="<%= type %>"></canvas>
  <div class="glube-controls">
      <button class="scramble-cube btn btn-info btn-sm"><span class="fa fa-random"></span></button>
      <button class="reset-cube btn btn-info btn-sm"><span class="fa fa-fast-backward"></span></button>
      <div class="alg">
          <label>Algorithm</label>
          <input class="algorithm form-control" placeholder="Algorithm" type="text" />
      </div>
      <button class="run-alg btn btn-info btn-sm"><span class="fa fa-play"></span></button>
      <button type="button"
        class="btn btn-primary add-algorithm fa fa-save"
        data-toggle="modal"
        data-target="#new_solution_modal"
        data-form-target="#new_algorithm"
        data-form-value-angle="<%=solution.angle%>"
        data-form-value-algorithm="<%=solution.algorithm%>"
        data-form-value-case-id="<%=solution.case%>"
        aria-label="Add algorithm">
      </button>
  </div>
</div>
