<%= form_for @solution do |f| %>
  <% if @solution.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@solution.errors.count, "error") %> prohibited this algorithm from being saved:</h2>
      <ul>
      <% @solution.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.hidden_field :angle %>
  <%= f.hidden_field :case_id %>
  <fieldset class="form-group">
    <%= f.label :algorithm %>
    <%= f.text_field :algorithm, class: 'form-control', disabled: true %>
  </fieldset>
  <fieldset class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, class: 'form-control' %>
  </fieldset>
  <%= f.submit "Save", class: 'btn btn-success' %>
  <%= link_to "Cancel", '#', class: 'btn btn-secondary', data: { dismiss: 'modal' } %>
<% end %>
