<%= render partial: 'behaviour/new_solution_modal' %>
<div class="card">
  <div class="card-body">
    <div class="container">
      <div class="row">
        <div class="col-md-2">
          <span>Case image might go here</span>
        </div>
        <div class="col-md-8">
          <%= render partial: 'glube/glube', locals: { solution: @solution, type: @solution.case&.case_type || 'FULL' } %>
        </div>
        <div class="col-md-2">
          <span>inverse would go here, for example</span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="centered col-md-12">
        <p><%= @solution.description %></p>
        <span class="algorithm-inscription"><%= @solution.algorithm %></span>
      </div>
    </div>
  </div>
  <div class="card-body">
    <h3 class="card-title">Other solutions</h2>
    <%= render partial: 'solutions_table', locals: { solutions: @solution.similar_algorithms } %>
  </div>
  <div class="card-body">
    <h3 class="card-title">Similar algorithms</h2>
    <%= render partial: 'solutions_table', locals: { solutions: @solution.similar_algorithms } %>
  </div>
  <div class="card-footer">
    <%= render partial: 'admin' %>
  </div>
</div>
