<!DOCTYPE html>
<html>
<head>
  <title>Wizadex</title>
  <%= favicon_link_tag 'pixeli.png' %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/wizards">
          <%= image_tag('pixeli.png', width: 32, height: 32) %>
        </a>
      </div>
    </div>
  </nav>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
